@model IEnumerable<EasyRental.Models.Movie>
   

    <h2>Movies</h2>
    
    
<div class="container " id="table-container">
    <table id="movies" class="table table-bordered table-hover  ">
        <thead>

        <tr>
            <th>Movies</th>

            <th> Genre</th>

           

        </tr>
        </thead>
        <tbody>
          
        </tbody>

    </table>



</div>
  
@section scripts 
{
    <script>
        $(document).ready(function () {
            var table =   $("#movies").DataTable({

                ajax: {
                    url: "/api/movies",
                    dataSrc:""
                },
                columns: [
                    {
                        data: "name"
                        
                    },
                    {
                        data: "genre.name"
                    }
                   


                ]

                

           

             
               
            });
        });
    </script>
    
}